.container {
    border: 25px solid #fff;
    background-image: url("images/sign-image.png");
    background-size: cover;
    height: 465px;
    width: 1215px;
    margin: 45px;
}

body {
    background-color: #7b93a6;
}

.main {
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.cardNewPassword {
    background-color: #fff;
    position: relative;
    width: 400px;
    height: 370px;
    margin: auto;
    margin-top: 60px;
}

.cardForgotPassword {
    background-color: #fff;
    position: relative;
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 80px;
}

.btn {
    width: 100%;
    padding: 17px;
    background-color: rgb(68, 129, 241);
    color: white;
    border-radius: 10px;
    border: 0px solid transparent;
}

input {
    padding: 14px 0px 14px 10px;
    border: 0.5px solid #a7a8aa;
    border-radius: 10px;
    width: 95%;
}

input:focus {
    border: 0.5px solid #a79cfa;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
}

.subTitle {
    color: #a7a8aa;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    margin: -10px;
}

.subTitle1 {
    color: black;
    justify-content: center;
    text-align: center;
    font-size: 11px;
    margin: -10px 30px 0px 22px;
    background-color: #d9d8dd;
    padding: 10px 80px 10px 72px;
    border-radius: 10px;
    font-family: sans-serif;
}

.content {
    margin: 25px;
}

.p9 {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
}

.p1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
}

.img1 {
    max-width: 40px;
    max-height: 40px;
    margin-bottom: 2px;
    padding-left: 6px;
}

.btn {
    width: 100%;
    padding: 17px;
    background-color: rgb(68, 129, 241);
    color: white;
    border-radius: 10px;
    border: 0px solid transparent;
    margin-top: 20px;
}

.backtologin {
    background-color: transparent;
    border: none;
    color: rgb(68, 129, 241);
    font-size: 12px;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}